# Sensitive files
LICENSE    @uOttawaSESA/co-directors
CODEOWNERS @uOttawaSESA/co-directors

# CI/CD
.github/workflows/   @uOttawaSESA/devops
.husky/              @uOttawaSESA/devops
.lintstagedrc.*      @uOttawaSESA/devops
lint-staged.config.* @uOttawaSESA/devops

# Build-related
flake.lock     @uOttawaSESA/devops
flake.nix      @uOttawaSESA/devops
next.config.*  @uOttawaSESA/devops
package.json   @uOttawaSESA/devops
pnpm-lock.yaml @uOttawaSESA/devops
tsconfig.json  @uOttawaSESA/devops

# Database
drizzle/          @uOttawaSESA/devops
drizzle.config.ts @uOttawaSESA/devops
